.curs-product {
   font-family: 'Lato', sans-serif;

   width: 100%;
   background-color: #f7f7f7;
   background-color: rgb(240, 240, 240);

   padding-top: 20px;
   padding-bottom: 50px;
   //text-align: center;

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: center;

      padding: 0 20px;
   }
   &__title {
      text-align: center;
      font-size: 50px;
      padding-bottom: 20px;
   }
   &__text-1 {
      padding-left: 20px;
      max-width: 400px;
      font-size: 20px;
      line-height: 25px;

      padding-bottom: 20px;
      font-weight: 400;
   }
   &__text-2 {
      //text-align: center;

      // max-width: 700px;
      padding-left: 20px;
      max-width: 400px;

      font-size: 23px;
      line-height: 25px;
      font-weight: 400;
   }
   &__btn-wrapper {
      // text-align: center;
      padding-top: 20px;
   }
   &__btn {
      width: 300px;
      height: 50px;

      color: #fff;
      text-transform: uppercase;
      font-size: 20px;

      border: solid 2px #000;

      background-color: #0c3f80;
      transition-duration: 0.5s;
   }
   &__btn:hover {
      transform: scale(1.1);

      background-color: #3377ca;
      transition-duration: 0.5s;
   }
}
