.types-of-training {
   background-color: #fff;
   background-color: rgb(240, 240, 240);

   padding-top: 50px;
   padding-bottom: 50px;

   &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   &__item {
      padding-top: 50px;

      width: 300px;
      text-align: center;
      border: 2px solid rgba(158, 169, 173, 0.295);
      padding-bottom: 20px;
      cursor: pointer;
   }
   &__icon {
      img {
         width: 100px;
      }
      // padding-bottom: 50px;
   }
   &__title {
      padding: 20px 0;
      font-size: 20px;
      font-weight: 700;
   }
   &__text {
      font-size: 18px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
   }
   &__btn {
      padding: 10px 0;
      margin: 0 auto;

      width: 200px;
      color: #fff;
      font-weight: 600;

      // height: 50px;
      background-color: #0c3f80;
      transition-duration: 0.5s;
   }
   &__btn:hover {
      transform: scale(1.1);
      background-color: #3377ca;
      transition-duration: 0.5s;
   }
}
